div{
	width: 100px;
	height: 100px;
	background-color: #808080;
	border: 1px solid #000000;
	margin: 5px;
}
.fuera{
	margin: 8px 5px 5px 8px;
	display: inline-block;
}
.dentro{
	height: 120px;
	width: 360PX;
	margin: 5PX;
}